nav{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: powderblue; */
}
.nav-cont{
    display: flex;
    list-style: none;
}
